
<%= link_to 'Add user', new_admin_user_path %><br/>
filter by name:<input type="text" id="filter_by_name" />
filter by email:<input type="text" id="filter_by_email" />
<table id="users_table">
	<thead>
		<td>id</td>
		<td><%= sort_link 'username' %></td>
		<td><%= sort_link 'email' %></td>
		<td><%= sort_link 'hotels' %></td>
		<td><%= sort_link 'comments' %></td>
		<td>delete user</td>
	</thead>
	<% if @users.nil? %>
		<td colspan="6">No users find</td>
	<% else %>
		<%= render @users %>	
	<% end %>
</table>
<%#= will_paginate%>

<script type="text/javascript">
	jQuery(document).ready(function(){
		$ = jQuery
		var ajax_filter = function(input, filter_by){
			var self = this,
				del = (~location.href.indexOf('?') == 0) ? '?' : '&',
				url = location.href + del + filter_by + '=' + input.value,
				key;

			if(!$.isEmptyObject(ajax_filter.memory)){
				for(key in ajax_filter.memory){
					if(key === filter_by) continue
					url += '&' + key + '=' + ajax_filter.memory[key];
				}	
			}
			ajax_filter.memory[filter_by] =  input.value;
			$.get(url, function(data){
				$('#users_table').html($(data).find('#users_table').html());
			})
		}
		ajax_filter.memory = {};
		$('#filter_by_name').bind('keyup', function(){
			ajax_filter(this, 'filter_by_name');
		})
		$('#filter_by_email').bind('keyup', function(){
			ajax_filter(this, 'filter_by_email');
		})
	})
</script>
