
<table>
	<thead>
		<td>id</td>
		<td><%= sort_link 'username' %></td>
		<td><%= sort_link 'email' %></td>
		<td><%= sort_link 'hotels' %></td>
		<td><%= sort_link 'comments' %></td>
		<td>delete user</td>
	</thead>
	<%= render @users %>	
</table>
