<!DOCTYPE html>
<html>
  <head>
    <title>Admin panel</title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <header>
      <div class="row span4">
        <% if admin_signed_in? %>
          Hello, <%= current_admin.login %>! <%= link_to 'Exit', admin_sessions_destroy_path, method: 'delete' %> 
        <% end %>
      </div>  
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
    </header>
    <div class="container">
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>